
*{
    margin: 0; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
html, body, #root, #app, main {
    height: 100%;
    
  }

body {
    background-image: url('https://wallpaperaccess.com/full/24866.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.flex {
    display: flex;
}

:root {
    --primary-dark-hsl: 171, 51%, 10%;
    --primary-light-hsl: 171, 51%, 45%;
    --primary-extralight-hsl: 171, 51%, 80%;
   
}

    @keyframes slidein {
        from {
          transform: translatey(0%);
        }
      
        to {
          transform: translatey(100%);
        }
      }


/*********HOME PAGE ************************/
.homeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileContainer {
    background-color: hsl(var(--primary-dark-hsl), .6);
    width: 70%;
    padding: 20px;
    height: 90%;
    border-radius: 20px;
}
.welcomeMessage {
    color: white;
    border-bottom: 3px solid white;
}
.imgContainer {
    margin-top: 20px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.imgBox {
    background-color: hsl(var(--primary-light-hsl), .2);
    width: 80%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.changePfp {
    height: 30px;
    width: 250px;
    border-radius: 20px;
    transition: .3s;
}

.changePfp:hover {
  color:white;
  background-color: black;
  transition: .3s;
}

.changePfpContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.pfpBox {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pfpImg {
    height: 100%;
    width: 20%;
    border: 6px solid black;
    border-radius: 20px;
}
.pfpImg.boys {
    background-color: rgb(34, 34, 177);
}
.pfpImg.girls {
    background-color: rgb(177, 34, 129);
}
.pfpImg.active {
    border: 6px solid white;
}
.submitPfpBox {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 25%;
}
.submitPfpBox button {
    height: 70px;
    width: 150px;
    font-size: 1.3em;
    border-radius: 20px;
    transition: .2s;
}
.submitPfpBox button:hover {
color: white;
background-color: black;
transition: .2s;
}

.profilePicture {
height: 260px;
width: 260px;
}

.bottomContainer {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
}

.todoInfo {
    font-size: 1.4em;
    color: white;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/**************************Login*****************/
.login-page {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?cs=srgb&dl=pexels-james-wheeler-417074.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
}

.login-form {
    --color: hsl(var(--primary-dark-hsl), .7);
    width: 800px;
    height:600px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color);
    box-shadow: 0 0 45px 0 var(--color);
    border-radius: 20px;
}

.login-form input{
    width: 400px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: hsl(var(--primary-extralight-hsl), .3);
    color: white;
    transition: .3s;
}
.login-form input:focus {
    transition: .3s;
}
.input-forms {
    display: flex;
    flex-direction: column;
}

.login-form button {
    width: 400px;
    height: 50px;
    background-color: hsl(var(--primary-light-hsl), .6);
    border-radius: 10px;
    transition: .3s;
}

.login-form button:hover {
    background-color: hsl(var(--primary-light-hsl), .9);
    transition: .3s;
}
/******************SIDE NAV*****************/
.sideNav {
    color: white;
    background-color: hsl(var(--primary-dark-hsl));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    margin: 0;
    position: fixed;
    height: 100%;
    transition: .2s
}
.sideNav:hover {
    width: 250px;
    transition: .2s
}
.sideNav:hover > nav a span {
    display: inline;
    font-size: 2.3em;
}

.wordReveal {
    display: none;
    color:white
}

.sideNav nav {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    height: 50%;
}

.sideNav a {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    width: 100%;
    transition: .3s
}
.sideNav a:hover {
    background-color: floralwhite;
    transition: .3s
}
.sideNav a:hover > span {
    color: black
}
.sideNav a:hover > img {
    filter: invert(0)
}
.logoutButton {
    filter: invert(1);
    height: 100px;
    size: 100px;
}







/************************TODOs ********************/
.todoPage {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.filterHeader {
    position: fixed;
    width: 100%;
    background-color: hsl(var(--primary-dark-hsl));
    min-height: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-drop {
    color: white;
    font-size: 1.2em;
    width: 200px;
    height: 22px;
    text-align: center;
}
.menu-drop:hover {
    cursor: pointer;
}
.menu-drop ul {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}
/*Making the menu drop*/
.menu-drop:hover > ul {
    opacity: 100%;
    transform: translateY(0px);
    pointer-events: auto;
    height: auto;
    width: 200px;
    display: block;
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: .2s;
}
/*Hovering over each item*/
.menu-drop ul li {
    background-color: hsl(var(--primary-dark-hsl), .7);
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
   justify-content: center;
    transition: .3s
}
.menu-drop ul li:hover {
    cursor: pointer;
    background-color: hsl(var(--primary-light-hsl), .7);
    transition: .3s
}



.search-container-box {
    display: flex;
    align-items: center;
    width: 250px;
}
.filterHeader input {
    height: 30px;
    border-radius: 15px;
    width: 135px;
    padding-left: 45px;
    background-image: url('./images/search.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 6px -.5px;
 

}

.filterHeader search-icon {
    height: 30px;
    width: 30px;

}



.todo-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px; 
    width: 100%;
}

.todoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(var(--primary-dark-hsl), .8);
    box-shadow: 0px 0px 15px 0px hsl(var(--primary-dark-hsl));
    color: white;
    margin-top: 10px;
    margin-bottom: 16px;
    width: 750px;
    min-height: 300px;
    max-height: 300px;
    border-radius: 20px;
}
.todoCard h2 {
    width: 85%;
    text-align: center;
}

.todoCard h1{
    text-align: center;
    width: 100%;
 
}

.todo-icons {
    align-self: flex-end;
    transition: .3s;
    margin-bottom: 2px;
}


.todo-icons:hover {
    transform: scale(1.1);
    transition: .3s;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

/****************************Create Todd*********************/
.createPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.createForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 500px;;
    background-color: hsl(var(--primary-dark-hsl), .7);
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 hsl(var(--primary-dark-hsl));
    gap: 20px
}
.createForm textarea {
    color: white;
    min-width: 350px;
    max-width: 350px;
    min-height: 200px;
    max-height: 200px;
    font-size: 1.3em;
    border-radius: 20px;
    background-color: hsl(var(--primary-dark-hsl), .7);
    padding: 10px;
    transition: .3s
}
.createForm textarea:focus {
    background-color: hsl(var(--primary-dark-hsl), .9);
    transition: .3s
}
.createForm button {
    color: white;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    background-color: hsl(var(--primary-dark-hsl), 6);
    transition: .3s
}
.createForm button:hover {
    background-color: hsl(var(--primary-light-hsl), 6);
    transition: .3s
}

.nameTodo{
    color: white;
    width: 230px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 100%;
    background-color: hsl(var(--primary-dark-hsl), .7);
    transition: .3s;
}
.nameTodo:focus {
    background-color: hsl(var(--primary-dark-hsl), .9);
    transition: .3s;
}

.calendar {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    padding: 0 10px 0 10px;
}




/********************View Todo***************************/
.singlePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.emptyDiv {
    width: 30px;
}
.sinlgeBox {
    width: 1000px;
    display: grid;
    grid-template-areas:
    "a";
    margin-top: 20px;
}
.due_date.incomplete {
    color: white;
}
.due_date.complete {
    color: green;
}
.due_date.overdue {
    color: red;
}
.todoBox {
    color: white;
    justify-self: center;
    grid-area: a;
    background-color: hsl(var(--primary-dark-hsl), .9);
    display: flex;
    flex-direction: column;
    align-items:  center;
    min-width: 600px;
    max-width: 600px;
    height: 400px;
    justify-content: space-around;
}

.todoBox h3{
    text-align: center;
    width: 85%;
}


.noteForm {
    justify-self: flex-end;
    grid-area: a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
    height: 200px;
    border-radius: 4%;
}
.noteContainer {
    overflow: auto;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
    gap: 20px;

}

.singleNote {
    margin-left: 20px;
    color: white;
    background-color: hsl(var(--primary-dark-hsl), .8);
    width: 700px;
    height: 100px;
    min-height: 100px;
}
.space-icons {
    display: flex;
    justify-content: space-between;
}

.delete-icon {
    align-self: flex-end;
    transition: .3s;
}

.delete-icon:hover {
    transform: scale(1.1);
    transition: .3s;
}

.add-note-button {
    background-color: white;
    justify-content: baseline;
    width: 80px;
    height: 40px;
    border-radius: 15px;
    border: none;
    transition: .3s;
}

.add-note-button:hover {
background-color: green;
transition: .3s;
}
.delete-note-drop-down div {
    background-color: rgb(11, 0, 0);
    color: red;
    position: absolute;
    border-radius: 5px;
    width: 100px;
}
.delete-note-drop-down p {
 text-align: center;
  cursor: pointer;
}

.details-single {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.dropDown{
    left: 150px;
    background-image: url('./images/dropdown.png');
    background-position: center;
    background-size: 35px;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    transform: rotate(-90deg);
    transition: .3s;
}

.dropDown div {
    position: absolute;
    transition: .3s;
    transform: scale(0);
}
.dropDown div button {
    color: white;
    background-color: hsl(var(--primary-dark-hsl));
    width: 130px;
    height: 30px;
    padding: 3px;
    border-radius: 0px;
    transition: .3s;
}
.deleteTodoButton:hover {
    color:red;
}
.dropDown div button:hover{
    border-radius: 16px;
    padding: 3px;
    transition: .3s;
}
.dropDown:hover {
    transform: rotate(0deg);
    transition: .3s;
    
}

.dropDown:hover > div {
margin-top: 25px;
background-color: hsl(var(--primary-dark-hsl), .6);
display: block;
border-radius: 20px;
padding: 20px;
display: flex;
flex-direction: column;
gap: 5px;
transform: scale(1);
transition: .3s;
}

/*********************************EDIT CONTAINER****************************************/
.editContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}