

body {
    margin: 0;
}
header {
    display: flex;
    background-color: black;
    color: white;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav {
    text-decoration: none;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}        

header button {
    background-color: transparent;
    color: white;
}
/**************************Login*****************/
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #850000;
    height: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/************************TODO CARD ********************/
.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #F5EDCE;
    color: #850000;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 750px;
    height: 300px;
    border-radius: 4%;
    border: 2px solid #850000;
}

.todoCard h1{
    border-bottom: revert 1px solid black;
    text-align: center;
    width: 200px;
 
}

/****************************Create Todd*********************/
.createPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;;
}


/********************View Todo***************************/
.singlePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sinlgeBox {
    width: 1000px;
    display: grid;
    grid-template-areas:
    "a";
    margin-top: 20px;
}

.todoBox {
    justify-self: center;
    grid-area: a;
    
    background-color: #850000;
    display: flex;
    flex-direction: column;
    align-items:  center;
    width: 600px;
    height: 200px;
    border-radius: 4%;
    justify-content: space-around;
}

.noteForm {
    justify-self: flex-end;
    grid-area: a;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
    height: 200px;
    border-radius: 4%;
}
.noteContainer {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.singleNote {
    background-color: black;
    color: wheat;
    width: 150px;
    height: 150px;
}